POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=bybit-payer-db
POSTGRES_USER=bb-payer
POSTGRES_PASSWORD=postgres

AUTH_USERNAME=operator
AUTH_EMAIL=opp.2211@gmail.com
AUTH_PASSWORD_HASH=
AUTH_REMEMBER_ME_KEY=
AUTH_REMEMBER_ME_VALIDITY=30d
AUTH_REMEMBER_ME_SECURE=false
AUTH_MAX_FAILED_ATTEMPTS=10
AUTH_FAILURE_WINDOW=5m

APP_ENCRYPTION_KEY=

BYBIT_API_KEY=
BYBIT_API_SECRET=
BYBIT_BASE_URL=
BYBIT_RECV_WINDOW_MS=
BYBIT_P2P_AD_ID=
BYBIT_RATE_SOURCE_AD_INDEX=15
BYBIT_RATE_SOURCE_MIN_AD_INDEX=7
BYBIT_AD_RATE_REFRESH_INTERVAL_MINUTES=5
BYBIT_ORDER_SOURCE_SIDE=SELL
BYBIT_BALANCE_ACCOUNT_TYPE=FUND
BYBIT_BALANCE_COIN=USDT
P2P_FEE_RATE=0.00275
SYSTEM_STATUS_REFRESH_INTERVAL_SECONDS=30
SYSTEM_STATUS_INITIAL_DELAY_SECONDS=0

RECEIPT_MAIL_USERNAME=
RECEIPT_MAIL_PASSWORD=
RECEIPT_EMAIL_TO_SEND_IN_CHAT=
